In [89]:
%config Completer.use_jedi = False

import warnings
warnings.simplefilter("ignore")

# Input ALL Data

In [90]:
import pandas as pd
import numpy as np

In [91]:
data = pd.read_csv('E:/NUS_Course/5010Analytics in managerial economics/Grouup Project2/selected-downloads/DiD_data.csv')
data.head()

,rssd9001,rssd9999,bhc_avgtradingratio,treat_3_b_avg,after_DFA_1,dep_roa1,dep_leverage,dep_lnassets,dep_creditrisk_total3,dep_cir,dep_depositratio,dep_loans_REratio,dep_liquidity,dep_cpp_bankquarter
0,1020180,20040930,0.0,0,0,0.002772,0.081957,15.601202,0.013304,0.463811,0.561805,0.593738,0.024337,0
1,1020180,20041231,0.0,0,0,0.003045,0.082480,15.630583,0.009732,0.456392,0.557617,0.601763,0.025446,0
2,1020180,20050331,0.0,0,0,0.002616,0.082074,15.644925,0.011830,0.444011,0.556980,0.600700,0.025153,0
3,1020180,20050630,0.0,0,0,0.002647,0.081712,15.679702,0.013654,0.433771,0.571642,0.601042,0.023670,0
4,1020180,20050930,0.0,0,0,0.002867,0.082944,15.661868,0.012456,0.400985,0.577408,0.581438,0.029793,0

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81560 entries, 0 to 81559
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rssd9001               81560 non-null  int64
 1   rssd9999               81560 non-null  int64
 2   bhc_avgtradingratio    41442 non-null  float64
 3   treat_3_b_avg          81560 non-null  int64
 4   after_DFA_1            81560 non-null  int64
 5   dep_roa1               56938 non-null  float64
 6   dep_leverage           57017 non-null  float64
 7   dep_lnassets           61771 non-null  float64
 8   dep_creditrisk_total3  44432 non-null  float64
 9   dep_cir                42382 non-null  float64
 10  dep_depositratio       79172 non-null  float64
 11  dep_loans_REratio      44432 non-null  float64
 12  dep_liquidity          55159 non-null  float64
 13  dep_cpp_bankquarter    81560 non-null  int64
dtypes: float64(9), int64(5)
memory usage: 8.7 MB

In [93]:
#找出bhc非空的数据行
df_bhc_notnull = data[data['bhc_avgtradingratio'].isnull()==False]

In [94]:
groupdf = df_bhc_notnull.groupby('rssd9001').agg('count')
groupdf

,rssd9999,bhc_avgtradingratio,treat_3_b_avg,after_DFA_1,dep_roa1,dep_leverage,dep_lnassets,dep_creditrisk_total3,dep_cir,dep_depositratio,dep_loans_REratio,dep_liquidity,dep_cpp_bankquarter
rssd9001,,,,,,,,,,,,,
1020180,40,40,40,40,40,40,40,40,40,40,40,38,40
1020201,6,6,6,6,6,6,6,6,6,6,6,6,6
1020340,25,25,25,25,25,25,25,25,25,25,25,18,25
1020395,6,6,6,6,6,6,6,6,6,6,6,6,6
1020582,6,6,6,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762457,21,21,21,21,20,21,21,21,20,21,21,19,21
3803033,17,17,17,17,17,17,17,17,17,17,17,17,17
3821756,15,15,15,15,15,15,15,15,15,15,15,15,15
3832583,19,19,19,19,19,19,19,19,19,19,19,17,19
3836442,1,1,1,1,1,1,1,1,1,1,1,1,1

In [95]:
data.shape

(81560, 14)

# 删除rssd9999<32的数据

In [96]:
indexdrop = groupdf[groupdf['rssd9999']<32].index

In [97]:
data_rssd999932 = data.drop(data[data['rssd9001'].isin(indexdrop)].index)

In [106]:
data_rssd999932.shape

(25936, 14)

# 继续Groupby，删除小于31的

In [102]:
data_rssd999932.groupby('rssd9001').agg('count').min()

rssd9999                 32
bhc_avgtradingratio      32
treat_3_b_avg            32
after_DFA_1              32
dep_roa1                  0
dep_leverage              0
dep_lnassets             32
dep_creditrisk_total3    32
dep_cir                  31
dep_depositratio         32
dep_loans_REratio        32
dep_liquidity            31
dep_cpp_bankquarter      32
dtype: int64

In [100]:
groupdf1 = data_rssd999932.groupby('rssd9001').agg('count')

In [103]:
indexdrop1 = groupdf1[groupdf1['dep_roa1']<32].index
indexdrop2 = groupdf1[groupdf1['dep_leverage']<32].index

In [109]:
data_rssd999932[data_rssd999932['dep_roa1'].isin(indexdrop1)].index

Int64Index([], dtype='int64')

In [110]:
data0 = data_rssd999932.drop(data_rssd999932[data_rssd999932['rssd9001'].isin(indexdrop1)].index)
data1 = data0.drop(data0[data0['rssd9001'].isin(indexdrop2)].index)
data1.shape
#删除之后的数据是data1

(25900, 14)

# 填充缺失值

In [112]:
data1.isnull().sum()

rssd9001                    0
rssd9999                    0
bhc_avgtradingratio      1707
treat_3_b_avg               0
after_DFA_1                 0
dep_roa1                 1736
dep_leverage             1702
dep_lnassets              660
dep_creditrisk_total3     850
dep_cir                  1585
dep_depositratio           25
dep_loans_REratio         850
dep_liquidity            2600
dep_cpp_bankquarter         0
dtype: int64

按照公司分组进行KNN填充

In [117]:
from sklearn.impute import KNNImputer

https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html?highlight=knnimput#sklearn.impute.KNNImputer

In [148]:
data2 = data1.set_index('rssd9001')
data2.head()

,rssd9999,bhc_avgtradingratio,treat_3_b_avg,after_DFA_1,dep_roa1,dep_leverage,dep_lnassets,dep_creditrisk_total3,dep_cir,dep_depositratio,dep_loans_REratio,dep_liquidity,dep_cpp_bankquarter
rssd9001,,,,,,,,,,,,,
1020180,20040930,0.0,0,0,0.002772,0.081957,15.601202,0.013304,0.463811,0.561805,0.593738,0.024337,0
1020180,20041231,0.0,0,0,0.003045,0.082480,15.630583,0.009732,0.456392,0.557617,0.601763,0.025446,0
1020180,20050331,0.0,0,0,0.002616,0.082074,15.644925,0.011830,0.444011,0.556980,0.600700,0.025153,0
1020180,20050630,0.0,0,0,0.002647,0.081712,15.679702,0.013654,0.433771,0.571642,0.601042,0.023670,0
1020180,20050930,0.0,0,0,0.002867,0.082944,15.661868,0.012456,0.400985,0.577408,0.581438,0.029793,0

In [149]:
temp = data2.copy()
for i in temp.index.unique():
    temp.loc[i] = imputer.fit_transform(temp.loc[i])
df_fillna = temp

In [151]:
df_fillna.head()

,rssd9999,bhc_avgtradingratio,treat_3_b_avg,after_DFA_1,dep_roa1,dep_leverage,dep_lnassets,dep_creditrisk_total3,dep_cir,dep_depositratio,dep_loans_REratio,dep_liquidity,dep_cpp_bankquarter
rssd9001,,,,,,,,,,,,,
1020180,20040930.0,0.0,0.0,0.0,0.002772,0.081957,15.601202,0.013304,0.463811,0.561805,0.593738,0.024337,0.0
1020180,20041231.0,0.0,0.0,0.0,0.003045,0.082480,15.630583,0.009732,0.456392,0.557617,0.601763,0.025446,0.0
1020180,20050331.0,0.0,0.0,0.0,0.002616,0.082074,15.644925,0.011830,0.444011,0.556980,0.600700,0.025153,0.0
1020180,20050630.0,0.0,0.0,0.0,0.002647,0.081712,15.679702,0.013654,0.433771,0.571642,0.601042,0.023670,0.0
1020180,20050930.0,0.0,0.0,0.0,0.002867,0.082944,15.661868,0.012456,0.400985,0.577408,0.581438,0.029793,0.0

In [152]:
df_fillna.isnull().sum()

rssd9999                 0
bhc_avgtradingratio      0
treat_3_b_avg            0
after_DFA_1              0
dep_roa1                 0
dep_leverage             0
dep_lnassets             0
dep_creditrisk_total3    0
dep_cir                  0
dep_depositratio         0
dep_loans_REratio        0
dep_liquidity            0
dep_cpp_bankquarter      0
dtype: int64

In [155]:
df_fillna.shape

(25900, 13)

# 2004Q3

In [153]:
#2004Q3
data_2004q3 = df_fillna[df_fillna['rssd9999'] == 20040930]
data_2004q3.head()

,rssd9999,bhc_avgtradingratio,treat_3_b_avg,after_DFA_1,dep_roa1,dep_leverage,dep_lnassets,dep_creditrisk_total3,dep_cir,dep_depositratio,dep_loans_REratio,dep_liquidity,dep_cpp_bankquarter
rssd9001,,,,,,,,,,,,,
1020180,20040930.0,0.0,0.0,0.0,0.002772,0.081957,15.601202,0.013304,0.463811,0.561805,0.593738,0.024337,0.0
1020676,20040930.0,0.0,0.0,0.0,0.001248,0.048543,13.333773,0.038585,0.670261,0.531987,0.665179,0.027010,0.0
1020902,20040930.0,0.0,0.0,0.0,0.002235,0.081153,16.306637,0.023099,0.615831,0.763232,0.412309,0.045295,0.0
1021682,20040930.0,0.0,0.0,0.0,0.005972,0.065503,13.029423,0.007927,0.436232,0.635626,0.669960,0.050583,0.0
1022764,20040930.0,0.0,0.0,0.0,0.002161,0.106747,15.344308,0.013071,0.536416,0.478529,0.753218,0.036319,0.0

In [154]:
data_2004q3.shape

(647, 13)

# Logistic Regression

In [2]:
from sklearn.linear_model import LogisticRegression

In [161]:
y = data_2004q3[['treat_3_b_avg']]
x = data_2004q3.iloc[:,4:]

lr = LogisticRegression()
lr.fit(x,y)

LogisticRegression()

In [164]:
lr.predict_proba(x).shape

(647, 2)